
body {
  text-align: center;
  background-color: rgb(22, 22, 22);
  color: whitesmoke;
}
.mainDiv{
  width: 100vw;
  height: 100vh;
}
header{
  position: sticky;
  top: 0px;
}
footer{
  position: fixed;
  text-align: center;
  bottom: 0px;
  height: 50px;
  width: 100vw;
  background-color: #343a40;
}
.nameImage{
  border-radius: 5px;
}
.quote{
 position: static;
  margin-top: 10%;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;

}
.copyright{
  text-align: right;
  color: darkslategray;
  font-style: italic;
}
.pdfViewer {
  width: 100vw;
  height: 100vh;
}
.contactInfo{
  padding: 5px;
  border: 1px  solid whitesmoke;
  border-radius: 5px;
  width: 50vw;
  margin: 5px auto;
  font-size: larger;

}
.contactInfoLine:hover{
  border-radius: 5px;
  margin: 0px;
  background-color: whitesmoke;
  color: black;
  font-style: italic;
  font-size: larger;
}
.emailForm{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
form{
 position: center;
  /* text-align: left;  */

}
input{
  width: 50vw;
  border-radius: 5px;
  margin: 1px;
  padding: 5px 10px;

}
textarea{
  width: 50vw;
  border-radius: 5px;
  margin: 1px;
  padding: 5px 10px;

}
.nameTagProject{
  position: initial;
  width: 375px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
}
.nameTagAnimation{
  margin-top: 10%;
  position: absolute;
  left: 50vw;
  
  width: 375px;
  margin-left: -187.5px;
  margin-right: auto;
  animation-name: nameTag;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-timing-function: linear;
  transform-origin: initial;
}
@keyframes nameTag{
  0%  { transform: scale(1)}
  15% { transform: scale(1.25)}
  25% { transform: scale(1)}
  60% { transform: 
        translate3d(75% , -45%, 0px)
        rotate(17deg) 
        scale(.75)
      }
  100% { transform: 
        translate3d(150%, -90%, 0px)
        rotate(35deg) 
        scale(.5)
        
      }    
}
.helloMyNameIs {
  position: relative;
  background-color: #f23b2b;
  color: white;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  max-width: 375px;
  height: 90px;
  font-family: Lato, sans-serif;
  font-style: bold;
  vertical-align: middle; 
  padding-bottom: 5px;
}
.hello {
  position: relative;
  font-size: 40px;
  margin-bottom: -10px;
  font-weight: bold;
}
.mynameis{
  position: relative;
  font-size: 28px;
  font-weight: bold;
}
.name {
  position: relative;
  background-color: white;
  /* display: inline-block; */
  vertical-align: middle;
  color: black;
  text-align: center;
  width: 375px;
  font-size: 75px;
  height: 130px;
  line-height: 130px; 
  font-family: 'Noteworthy', sans-serif;
}
.bottomBar {
  position: relative;
  background-color: #f23b2b;
  height: 20px;
  border-radius: 0px 0px 20px 20px;
  max-width: 375px;
  }

.cssTeamsMenu {  
    position: absolute;
    transition: .5s;
    top: 35vh;
    padding-left: 5px;
}
.cssTeamsMenu:hover{
    margin-left: 110px;
}
.teamIconContainer{
    position: inherit;
    left: -110px;
    width: 110px;
    top: -95px;
}
.menuTitle{
  padding-left: 5px;
}
.teamIcon {
  height: 50px;
  width: 50px; 
  border-radius: 3px;
  border: 1px solid transparent;
} 
.teamIcon:hover{  
  transform: scale(1.2) translateX(2px);
  border-radius: 3px; 
  border: 1px solid whitesmoke; 
  transition: 0.3s; 
  cursor: pointer;
}
